@using CyberClub.Domain.Models
@using CyberClub.Domain.Services
@using CyberClub.ViewModels


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CyberCLub</title>

    <meta property="og:title" content="CyberCLub | Student">
    <meta property="og:description" content="CyberCLub">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="CyberCLub">
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" />

    <!-- *************
            ************ CSS Files ************* CCCCCC
        ************* -->
    <link rel="stylesheet" href="~/assets/fonts/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/assets/css/main.min.css" />

    <!-- *************
            ************ Vendor Css Files *************
        ************ -->
    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="~/assets/vendor/overlay-scroll/OverlayScrollbars.min.css" />
</head>

<body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

        <!-- Main container starts -->
        <div class="main-container">

            <!-- Sidebar wrapper starts -->
            <nav id="sidebar" class="sidebar-wrapper">

                <!-- App brand starts -->
                <div class="app-brand mb-3">
                    <a href="/Customer/Panel">
                        <img src="~/assets/images/logo.svg" class="logo" alt="CyberClub" />
                    </a>
                </div>
                <!-- App brand ends -->
                <!-- Sidebar menu starts -->
                @(await Component.InvokeAsync("Zone", new { model = Model }))



                <!-- Sidebar settings ends -->

            </nav>
            <!-- Sidebar wrapper ends -->
            <!-- App container starts -->
            <div class="app-container">

                <!-- App header starts -->
                <div class="app-header d-flex align-items-center">

                    <!-- Toggle buttons starts -->
                    <div class="d-flex">
                        <button class="pin-sidebar">
                            <i class="bi bi-list lh-1"></i>
                        </button>
                    </div>
                    <!-- Toggle buttons ends -->
                    <!-- App brand sm starts -->
                    <div class="app-brand-sm d-lg-none d-flex">
                        <a href="/Customer/Panel">
                            <img src="~/assets/images/logo-sm.svg" class="logo" alt="CyberClub" />
                        </a>
                    </div>
                    <!-- App brand sm ends -->
                    <!-- Breadcrumb starts -->
                    <div class="d-flex align-items-center ms-3">
                        <h5 class="m-0"></h5>
                    </div>
                    <!-- Breadcrumb ends -->
                    <!-- App header actions starts -->
                    <div class="header-actions">

                        <!-- Search container starts -->
                        <div class="search-container d-xl-block d-none mx-3">
                            <input type="text" class="form-control" id="searchData" placeholder="Search" />
                            <i class="bi bi-search"></i>
                        </div>

                        <!-- Header list starts -->
                        <!-- User settings starts -->
                        <div class="dropdown ms-4">
                            <a id="userSettings" class="dropdown-toggle d-flex py-2 align-items-center" href="index.html#!" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                @*   <img src="~/assets/images/user.png" class="rounded-4 img-3x" alt="CyberClub" /> *@
                                <div class="ms-2 text-truncate d-lg-flex flex-column d-none">
                                    <p class="text-truncate m-0">@Context.Session.GetString("User")</p>
                                    <span class="small opacity-50 lh-1">@Context.Session.GetString("Role")</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end shadow-lg">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-controller="Booking"
                                   asp-action="MyBookings">
                                    <i class="bi bi-person fs-5 me-2"></i>My Bookings
                                </a>

                                <a class="dropdown-item d-flex align-items-center" asp-controller="Customer" asp-action="Settings" class="btn btn-primary">
                                    <i class="bi bi-gear fs-5 me-2"></i>Settings
                                </a>
                                <div class="mx-3 mt-2 d-grid">
                                    <form method="post" action="/Auth/Logout">
                                        <button type="submit" class="btn btn-primary">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- User settings ends -->
                        <!-- Toggle sidebar button starts -->
                        <div class="d-flex">
                            <button class="toggle-sidebar">
                                <i class="bi bi-list lh-1"></i>
                            </button>
                        </div>
                        <!-- Toggle sidebar button ends -->

                    </div>
                    <!-- App header actions ends -->

                </div>
                <!-- App header ends -->
                <!-- App body starts -->
                <div class="app-body">
                    @RenderBody()
                 
                    <div class="col-xl-4 col-sm-6">
                        <div class="card mb-4">
                        </div>
                    </div>
                </div>


                <!-- Row ends -->
                <!-- Row starts -->
                <div class="row gx-4">
                    <div class="col-sm-12">
                    </div>
                </div>
                <!-- Row ends -->

            </div>
            <!-- App body ends -->
            <!-- App footer starts -->
            <div class="app-footer">
                <span class="small">© CyberClub</span>
            </div>
            <!-- App footer ends -->
         

        </div>
        <!-- App container ends -->

    </div>

    <!-- Main container ends -->
    </div>
    <!-- Page wrapper ends -->
    <!-- *************
             ************ JavaScript Files *************
         ************* -->



    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>


    <!-- *************
            ************ Vendor Js Files *************
        ************* -->
    <!-- Overlay Scroll JS -->
    <script src="~/assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
    <script src="~/assets/vendor/overlay-scroll/custom-scrollbar.js"></script>

    @* 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@
    <!-- Custom JS files -->
    <script src="~/assets/js/custom.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>

</html>
